.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  top: 0%;
  overflow-y: scroll;
}


.Table {
  font-size: 0.9em;
  padding: 50px 10px;
  /* align-items: center; */
  margin-left:auto; 
    margin-right:auto;
}
.Table td{
  align-self: center
}

@media (min-width: 800px) {
  .Modal {
    width: 60%;
    top: 20%;
    left: 20%;
    height: 70%;
    overflow: scroll;
    max-height: 722px;
  }
}

