.Card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 100vh;
  width: 100%;
  background-color: palegoldenrod;
  color:  inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  /* justify-content: center; */
}

.Title{
  padding-bottom: 5%;
}

.Links {
  display: flex;
  gap: 3rem;
}

.Link{
  padding: 2% 0
}
