.landing-container {
  display: flex;
  justify-content: center;
  min-height: 83vh;
  align-items: center;
}

.landing {
  background-color: #282c34;
  width: 30rem;
  height: 35rem;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.right {
  border-radius: 0 15px 15px 0;
}


.left {
  border-radius: 15px 0 0 15px;
  background-image: url(https://picsum.photos/600);
}

.right-form {
  width: 85%;
}
