.MinistryPage {
  background-color: #fffbdb;
  color:#282c34 ;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.GraphsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px
}

@media(min-width: 768px) {
  .MinistryPage {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-height: 100vh;
    padding: 1rem;
  }

  .GraphsDiv {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
