.App {
  text-align: center;
  margin: none;
  /* background-color: #282c34; */
  height: 100%;
}

.Header {
  background-color: #385794;
  height: 90px;
}

.Header table{
  padding: 30px;
}

.ministry{
  width: 40%;
  text-align: left;
  font-size: 19px;
  color: white;
}

.Name {
  display: inline-block;
  font-size: 27.5px;
  color: white;
  width: 255%;
  text-align: center;
}

.Contact {
  width: 220%;
  font-size: 19px;
  color: white;
  text-align: right
}

.Header td{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 25px;
}
.thumb{
  width: fit-content !important;
  transition: width 150ms ease-in-out !important;
  border: none !important;
}

.carousel-thumb {
  padding: 0.25rem;
}


.thumb:hover {
  background-color: grey;
}

.thumb.selected {
  width: fit-content !important;
  background-color: grey;
  display: inline-block;
}

.thumbs {
  overflow-x: auto;
}

.thumbs::-webkit-scrollbar {
  width: 1px;
  height: 4px;
}

.thumbs::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.thumbs::-webkit-scrollbar-thumb {
  background: #888; 
}

.landing {
  padding: 20px;
  font-size: 27.5px;
  color: white;
  text-align: center;
}

/* .carousel .carousel-item>img {
    width: 220%;
    height: 150%; 
    margin-left: -60%;
} */

.main {
  padding-bottom: 100px;
}

.CarouselDiv {
  min-height: 100vh;
}


@media only screen and (min-width: 768px) {
  .CarouselDiv {
    width: 100%;
    min-height: 100vh;
  }

  .CarouselContain {
    padding: 2rem 7rem;
  }

  .thumb{
    width: fit-content !important;
    transition: width 150ms ease-in-out !important;
    border: none !important;
  }

  .carousel-thumb {
    padding: 0.25rem;
  }


  .thumb:hover {
    background-color: grey;
  }

  .thumb.selected {
    width: fit-content !important;
    background-color: grey;
    display: inline-block;
  }

  .thumbs {
    overflow-x: auto;
  }

  .thumbs::-webkit-scrollbar {
    width: 1px;
    height: 4px;
  }

  .thumbs::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .thumbs::-webkit-scrollbar-thumb {
    background: #888; 
  }
}

