.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  top: 0%;
  /* overflow: scroll; */
  box-sizing: border-box;
  border-color: blue;
}


.Table{
  width: 90%;
  margin: auto;
  overflow: scroll;
}

@media (min-width: 800px) {
  .Modal {
    width: 60%;
    top: 20%;
    left: 20%;
  }
}